.quotes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

h2{
    font-family: "Just Another Hand";
    font-size: 75px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

