.App {
  text-align: center;
  background-image: url("https://t3.ftcdn.net/jpg/01/74/93/48/360_F_174934896_r6BMeZYqgpTJlwtT66D9BnDtDoVfKFr1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  display: flex;
  flex-direction: column;
 
}

